
/* Cores default */
$black:                 #000;
$white:                 #fff;
$blue-reference-dev:    #3e52a3;
$blue-arrow-slick:      #202046;
$light-gray:            #F0F0E9;
$border-search:         #7A7A7A;
$dark-silver:           #696763;
$light-green:           #008080;
$v2-dark:               #444444;
$scrollbar:             #616161;
$background-newsletter: #F2F2F2;
$dark-title:            #333333;
$bar-title-gray:        #C0C0C0;
$card-body:             #E6E8EA;
$property-name:         #7A7A7A;



/* Cores midias sociais */
$facebook:              #3b5998;
$twitter:               #00acee;
$linkedin:              #0e76a8;
$instagram:             #3f729b;
$whatsapp:              #a4c639 ;