.newsletter{
    background-color: $background-newsletter;

    .container{
        padding: 24px 0 36px;

        .title-newsletter{
            font-size: 22px;
            text-align: center;
            color: $dark-title;
            font-weight: 700;
            margin-bottom: 16px;
            font-family: 'Lato', sans-serif;
        }

        .newsletter-field{
            form.form-inline{
                width: 100%;
                display: flex;
                justify-content: center;

                input{
                    width: 280px;
                    margin: 0 4px;
                    font-size: 12px;
                    padding: 17px 16px;
                    font-weight: 700;
                    
                    @media only screen and (max-width:768px) {
                        width: 100%;
                        margin: 15px 16px 0;
                    }
                }

                button{
                    width: 140px;
                    margin: 0 4px;
                    font-size: 14px;
                    font-weight: 700;

                    @media only screen and (max-width:768px) {
                        width: 100%;
                        margin: 7px 16px 0;
                    }
                }
            }
        }
    }
}